<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Petite Vue async</title>

<style>
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>
<body>


<script type="module">
  import { createApp } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'

  createApp({
    // exposed to all expressions
    count: 0,
    showLoader: false,
    // getters
    get plusOne() {
      return this.count + 1
    },
    // methods
    increment() {
        this.showLoader = true;
        setTimeout(() => {
            this.count++
            this.showLoader = false;
        }, 1000);
    }
  }).mount()
</script>

<!-- v-scope value can be omitted -->
<div v-scope>
  <div v-if="showLoader" class="loader"></div>
<div v-if="!showLoader">
  <p>{{ count }}</p>
  <p>{{ plusOne }}</p>
</div>
  <button @click="increment">increment</button>
</div>

<!-- <script src="https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js" defer init></script> -->
</body>
</html>